#content section.grid-team.space {
  margin-bottom: $space*3;
  // margin-bottom: -$grid-gutter-width;
  .grid figure {
    figcaption, figcaption > a {
      align-items: flex-end;
      justify-content: flex-end;
      padding: 1em;
      background-color: rgba(0,0,0,.2);
      text-align: right;
    }
  }
  h3 {
    font-size: 1.8vw;
  }

  li {
    //margin-bottom: $grid-gutter-width;
  }
  figure {
    width: 100%;
    img.main {
      width: 100%;
      filter: grayscale(100%);
    }
    .img-2 {
      width: 100%;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
    }
    // .subtitle-main {
    //   display: block;
    // }
    // .subtitle-2 {
    //   display: none;
    // }
    &:hover {
      .img-2 {
        opacity: 1;
        transition: $transition_default;
      }
      // .subtitle-2 {
      //   display: block;
      // }
      // .subtitle-main {
      //   display: none;
      // }
    }
  }
}
.grid-team {
  //background-color: rgba(26,188,156, .5);
}