.page-template-page-work {
  .caption {
    text-align: left;
    h3 {
      color: $text-dark;
    }
    p {
      font-size: $font-size-small;
    }
  }
  .featured-work ul {
    .caption {
      height: 20em;
      overflow: hidden;
    }
    h3 {
      font-size: $font-size-base-large;
      @media (min-width: $grid-float-breakpoint) {
        font-size: 2vw;
      }
      font-weight: 300;
      padding: .25em 0 0;
      margin-bottom: 0;
    }
    img {
      border: 1px solid #ccc;
    }
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    // .grid-block {
    //   width: 30%;
    //   @media (max-width: @screen-sm) {
    //     width: 100%;
    //   }
    // }
  }
}

.single-work {
  h4 {
    text-transform: none;
  }
  #main {
    display: flex;
    section.column {
      width: 50%;
    }
    section.column-content {
      padding-left: $space*2;
      padding-right: $space*4;
      padding-top: $space*2;
      article {
        margin-bottom: $space*2;
      }
    }
  }
  .siteurl {
    // padding: 1em 0;
  }
}