.home {
  #main {
    padding: 0;
  }
  header.main {
    background-position: 50% top;
    display: flex;
    align-items: center;
    flex-direction: column;
    //background-attachment: fixed;
    .overlay {
      background-color: rgba(0,0,0,.3);
    }
  }
  .header-container, .banner, .page-header {
    height: 65vh;
    align-items: center;
    display: flex;
    align-content: center;
    @media (min-width: $screen-sm){
      height: 95vh;
    }
  }
  .container, .banner {
    flex-direction: column;
  }

  .page-header {
    width: 100%;
    margin: 0;
    h2 {
      margin: 0;
      font-size:2.25vw;
      text-align: center;
      align-self: center;
      color: $white;
      line-height: 1.75em;
      padding: 0 10vw 0;
      @media (min-width: $grid-float-breakpoint){
        padding: 0 21vw 0;
      }
      a {
        color: #fff;
        &:hover {
          color: $mg-teal;
          border-bottom: 1px solid transparent;
          @extend .transition-default;
        }
      }
    }
  }
  .navbar-header {
    z-index: 1;
     width: 100%;
    @media (min-width: $grid-float-breakpoint){
      position: absolute;
      top: 0;
    }

    ul {
      display: flex;
      width: 100%;
      justify-content: space-around;
    }
  }

  .navbar {
    align-self: flex-end;
    ul {
      li {

      }
    }
  }
  .subhead {
    text-align: center;
    margin: $section-space*2 auto;

    @media (max-width: $screen-sm) {
      margin: 3em auto;
    }

    h2 {
      font-size: 2.7vw;
      max-width: 26em;
      margin: 0 auto;
      @media (max-width: $screen-sm) {
        font-size: 4vw;
      }
    }

  }
  .featured-work { // see grid-basics.scss
    margin: 0 auto;
    figure {
    h3 {
      font-size: 2.5vw;
      line-height: 1.25em;
      margin-bottom: .25em;
      @media (max-width: $grid-float-breakpoint){
        font-size: 6vw;
        }
      @media (max-width: $screen-xs){
        font-size: 5vw;
        }
      }
    }
    li {
      margin: 0;
      padding: 0;
      p {
        font-weight: bold;
        text-transform: lowercase;
        font-family: 'futura_ltbold';
      }
    }
    @media (max-width: $screen-xs){ // simplify on mobile
      li:nth-child(7), li:nth-child(8) {
        display: none;
      }
      h5 {
        display: none;
      }
      p {
        margin-bottom: 0;
      }
    }
  }
}
