.grayscale {
  filter: grayscale(100%);
}

::-moz-selection {
  background: $brand-primary;
  color: white;
  text-shadow: none;
}
::selection {
  background: $brand-primary;
  color: white;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

i.circle {
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  padding: .25em;
  text-align: center;
}
.circle {
  border-radius: 50%;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* columns */
.cols-2, .cols-3 {
  @media (min-width: $screen-sm-min) {
    column-gap: $grid-gutter-width;
    columns: 2;
    widows: 2;
  }
}
.cols-2 {
  @media (min-width: $screen-sm-min) {
    columns: 2;
  }
}
.cols-3 {
  @media (min-width: $screen-sm-min) {
    columns: 3;
  }
}


/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */


/* Chrome Frame prompt */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Image Replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/* buttons / extras */
.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid #fff;
  border-radius: 35px;
  font-size: 40px;
  color: #fff;
  background: 0 0;
  transition: background .3s ease-in-out;
  i {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }
}


/* Admin Top Navigation fixes */
body.admin-bar .navbar-fixed-top{
  top: 28px;
}

.navbar-search {
  padding-left: 0;
}

.more-link{
  white-space: nowrap;
}

/* post styling */

#main p.meta{
  color: $gray-lighter;
}

.blog #main article {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid;
}

#main article footer{
  border-top: none;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  min-height: 20px;
}

#main article footer a.edit-post{
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.post:hover a.edit-post{
  display: inline;
}

p.tags{
  line-height: 20px;
}

div[id*='attachment_']{
  max-width: 100%;
  height: 100%;
}

img.alignleft{
  margin-right: 10px;
  float: left;
}

img.alignright{
  margin-left: 10px;
  float: right;
}

img.aligncenter{
  display: block;
  margin: 0 auto;
}

video {
  max-width: 100%;
  height: auto;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.page-template-page-homepage-php #main article{
  border-bottom: none;
}

.attachment-img{
  margin-bottom: 18px;
}

.metadata p.alert-message{
  margin-right: 0;
  margin-bottom: 18px;
}

li.next a, li.previous a{
  position: relative;
}

li.next a:hover:before{
  content: "\2190";
  position: absolute;
  display: block;
  top: 42%;
  left: 0;
  background-color: #BFBFBF;
  color: #444;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

li.previous a:hover:before{
  content: "\2192";
  position: absolute;
  display: block;
  top: 42%;
  right: 0;
  background-color: #BFBFBF;
  color: #444;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  text-decoration: none;
  box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

/* widget styles */
.widget{
  margin-bottom: 18px;
}
.widgettitle{
  margin-bottom: 9px;
}
/* change default form padding for search */
.widget_search form{
  padding-left: 0;
}

/* override standard link hover for the tag cloud widget */
#tag-cloud{
  margin-bottom: 18px;
  line-height: 160%;
}
#tag-cloud a:hover,
.tags a:hover{
  color: #ffffff;
  text-decoration: none;
}
#tag-cloud a {
  white-space: pre;
  text-transform: uppercase;
}



// From sierra -> helpers

// container
.aligner {
  display: flex;
}
.aligner-space-between {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.aligner-space-around {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.aligner-center-vertical {
  align-items: center;
  display: flex;
}
.aligner-center-horitzontal {
  display: flex;
  justify-content: center;
}
.content-start {
  display: flex;
  justify-content: flex-start;
}
.content-end {
  display: flex;
  justify-content: flex-end;
}

// item
.aligner-item-top {
  align-self: flex-start;
}
.aligner-item-bottom {
  align-self: flex-end;
}
.flex-grow {
  flex-grow: 1;
}


/* Alignments */
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}

.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}
.align-left {
  text-align: left;
}

.align-bottom {
  vertical-align: bottom;
}
.align-middle {
  vertical-align: middle;
}
.align-top {
  vertical-align: top;
}

.cf,
.clearfix {
  @include clearfix();
}

/* Text Utilities */
.ellipsis {
  @include ellipsis();
}
.ellipsis-block {
  @include ellipsis();
  display: block;
}
.word-break {
  word-break: break-all;
}
.no-break {
  white-space: nowrap;
}
.text-indent {
  padding-left: $gutterwidth;
}


/* Borders */
.bordered {
  border: 1px solid $border-color;
}
.border-bottom {
  border-bottom: 1px solid $border-color;
}
.border-left {
  border-left: 1px solid $border-color;
}
.border-right {
  border-right: 1px solid $border-color;
}
.border-top {
  border-top: 1px solid $border-color;
}

.display-block {
  display: block;
}

.block-mobile {
  @include breakpoint(bp-small, max-width) {
    display: block;
    margin-left: 0;
    margin-right: 0;
    width: 100%; // useful for buttons
  }
}

.display-inline {
  display: inline;
}

.no-margin {
  margin: 0!important;
}

.overflow-hidden {
  overflow: hidden;
}

.opacity-low {
  opacity: .5;
}


.rounded-corners {
  border-radius: 15%;
}

.rounded,
.circle {
  border-radius: 100%;
}


/* Visibility / Responsiveness */
.invisible {
  visibility: hidden;
}

/* * Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* * Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.hidden-large {
  @include breakpoint(bp-large) {
    display: none;
  }

  @include breakpoint(bp-huge) {
    display: inline-block;
  }
}

.hidden-medium {
  @include breakpoint(bp-medium) {
    display: none;
  }

  @include breakpoint(bp-large) {
    display: inline-block;
  }
}

.show-small {
  @include breakpoint(bp-medium) {
    display: none;
  }
}

.hide-small {
  display: none;
  @include breakpoint(bp-medium) {
    display: block;
  }
}

.hide-small-inline-block {
  display: none!important;

  @include breakpoint(bp-medium) {
    display: inline-block!important;
  }
}

.hide-medium {
  display: block;

  @include breakpoint(bp-medium) {
    display: none;
  }

  @include breakpoint(bp-large) {
    display: block;
  }
}

/**
 *  BOOTSTRAP VISIBILITY UTILITIES
 *  Note: Deprecated .visible-xs, .visible-sm, .visible-md, and .visible-lg as of v3.2.0
 */

@include responsive-invisibility('.visible-xs');
@include responsive-invisibility('.visible-sm');
@include responsive-invisibility('.visible-md');
@include responsive-invisibility('.visible-lg');

.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}

@media (max-width: $screen-xs-max) {
  @include responsive-visibility('.visible-xs');
}

.visible-xs-block {
  @media (max-width: $screen-xs-max) {
    display: block !important;
  }
}

.visible-xs-inline {
  @media (max-width: $screen-xs-max) {
    display: inline !important;
  }
}

.visible-xs-inline-block {
  @media (max-width: $screen-xs-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-visibility('.visible-sm');
}

.visible-sm-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: block !important;
  }
}

.visible-sm-inline {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline !important;
  }
}

.visible-sm-inline-block {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-visibility('.visible-md');
}

.visible-md-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: block !important;
  }
}

.visible-md-inline {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline !important;
  }
}

.visible-md-inline-block {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    display: inline-block !important;
  }
}

@media (min-width: $screen-lg-min) {
  @include responsive-visibility('.visible-lg');
}

.visible-lg-block {
  @media (min-width: $screen-lg-min) {
    display: block !important;
  }
}

.visible-lg-inline {
  @media (min-width: $screen-lg-min) {
    display: inline !important;
  }
}

.visible-lg-inline-block {
  @media (min-width: $screen-lg-min) {
    display: inline-block !important;
  }
}

@media (max-width: $screen-xs-max) {
  @include responsive-invisibility('.hidden-xs');
}

@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include responsive-invisibility('.hidden-sm');
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include responsive-invisibility('.hidden-md');
}

@media (min-width: $screen-lg-min) {
  @include responsive-invisibility('.hidden-lg');
}


