%hide-on-desktop {
	@media( min-width: $mobile-nav-breakpoint-min ){
		display: none;
	}
}

.mobile-nav-toggle {
	@extend %hide-on-desktop;
	z-index: $z-mobile-nav-toggle;
	&:before{
		content: '\f0c9';
		color: $brand-primary;
	}
	&.open:before {
		content: '\f00d';
	}
}


nav.mobile {
	@extend %hide-on-desktop;
	position: fixed;
	z-index: $z-mobile-nav;
	top: 0;
	right: 0;
	bottom: 100vh;
	left: 0;
	overflow: hidden;
	background: #fff;
	transition: bottom .5s, padding .5s;
}

nav.mobile.open {
	bottom: 0;
	padding-top: 5em;
	padding-bottom: 1em;
	overflow-x: auto;
}
