#main {
  padding: $space*2 0 0 0;
}
section.space {
  margin-bottom: $section-space;
  @media (max-width: $grid-float-breakpoint) {
    margin-bottom: $section-space/3;
  }
}
#content {
  margin-top: 0;
  padding-top: 0;
}


.contain, .contain-content { // wide content, not full bleed
  max-width: $container-large-desktop;
  margin: 0 auto;
  padding-left: $space*2;
  padding-right: $space*2;
  @media (max-width: $grid-float-breakpoint) {

  }
}

.contain-text { // contain text for readability
  max-width: 990px;
  padding: 0 $space*2;
  margin: 0 auto;
}
