/* put any custom less here */


#main {
	padding: $space*2 0 0 0;
}
section.space {
	margin-bottom: $section-space;
	@media (max-width: $grid-float-breakpoint) {
		margin-bottom: $section-space/3;
	}
}
#content {
	margin-top: 0;
	padding-top: 0;
}

.source-sans-custom {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: .2em;
}
.h1-section-header {
	font-size: $font-size-medium;
	text-align: left;
	color: $text-color;
}
.page-header {
	h1 {
		font-size: $font-size-medium;
		margin: $space*3 auto;
		text-align: center;
		color: $text-color;
	}
}
.header-compact {
	font-family: "futura_ltbold", sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	font-size: $font-size-base-bump;
	letter-spacing: .05em;
}
.header-secondary {
	font-family: "libre_baskervilleregular", sans-serif;
	font-weight: 300;
	text-transform: none;
}

.banner h2 {
	font-family: $headerfont;
	text-transform: none;
	font-size: $font-size-large;
}

/* buttons */
.button {
	font-family: 'futura_ltbold';
	font-weight: 400;
}
.button-ghost {
	background-color: transparent;
	color: white;
	border: 1px solid;
	&:hover {
		color: $brand-secondary;
		background-color: transparent;
	}
}
.button-ghost-teal {
	color: $mg-teal;
	&:hover {
		color: $brand-secondary;
		background-color: transparent;
	}
}
.button-ghost-inverse {
	background-color: transparent;
	color: white;
	border: 1px solid;
	&:hover {
		background-color: #fff;
		color: $mg-teal;
	}
}
.read-more:after, .button span:after {
	content: "\f105\f105\f105";
	font-weight: normal;
	font-family: FontAwesome;
	letter-spacing: -.1em;
	margin-left: 10px;
}

article.instagram {
	margin: $space*4 0;
}
div.si_item {
	width: 20%;
}
